.ContainerCuriosidades {
    display: flex;
    width: 100%;
    height: 841px;
    flex-shrink: 0;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    margin-top: -15vh;
}

.CopoOperiario {
    width: 534px;
    height: 474px;
    flex-shrink: 0;
    margin-left: 5vh;
}

.TextCuriosidadesLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 324px;
    color: #000;
    font-family: Montserrat;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.24px;
}

.FlechasCuriosidadesLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -30vh;
}

.Flecha1 {
    width: 76.505px;
    height: 0px;
    flex-shrink: 0;
    margin-right: -40vh;
    margin-top: -15vh;
}

.Flecha2 {
    width: 76.505px;
    height: 0px;
    flex-shrink: 0;
    margin-right: -30vh;
    margin-top: 15vh;
}

.Flecha3 {
    width: 76.505px;
    height: 0px;
    flex-shrink: 0;
    margin-right: -30vh;
    margin-top: 22vh;
}

.Curiosidade1{
    margin-top: -5vh;
}

.Curiosidade2{
    margin-top: 10vh;
}

.Curiosidade3 {
    margin-top: 20vh;
}

.TextCuriosidadesRigth {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 324px;
    color: #000;
    font-family: Montserrat;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.24px;
    margin-left: -30vh;
}

.Flecha4{
    width: 76.505px;
    height: 0px;
    flex-shrink: 0;
    margin-left: -30vh;
    margin-top: -20vh;
}

.Flecha5 {
    width: 76.505px;
    height: 0px;
    flex-shrink: 0;
    margin-left: -30vh;
    margin-top: 15vh;
}

.Flecha6 {
    width: 76.505px;
    height: 0px;
    flex-shrink: 0;
    margin-left: -30vh;
    margin-top: 22vh;
}

.Curiosidade4{
    margin-top: -10vh;
}

.Curiosidade5{
    margin-top: 10vh;
}

.Curiosidade6 {
    margin-top: 20vh;
}

